<div class="col-sm-6 col-sm-offset-3">
<div class="jumbotron text-center">
    <h1>Taskee</h1>
    <p class="lead faded">The Taskee App, features <span class="text-danger">group tasks</span> , <span class="text-danger">location</span> based tasks, and <span class="text-danger">instant messaging</span> to everyone in your group.</p>
    <hr>
    <a ui-sref="login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    <a ui-sref="register" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

</div>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <p>Already have an account? <a ui-sref="login">Login</a></p>
        <p>Or go <a ui-sref="home">home</a>.</p>
    </div>
</div>
